.dropZone {
  height: 100%;
  width: 100%;
  border: 1px dashed var(--border);
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--radius);
}
.dropZone.noDrag {
  border: 1px solid var(--border);
  border-radius: var(--radius);

}
.dropZone img {
  /* color: var(--text-accent); */
  /* filter:  */
}
.dropZone > * {
  padding: 0.5rem;
}
.checkbox {
  display: flex;
  gap: 0.5rem;
}
.dropZone:hover {
  cursor: pointer;
}

.fileFolderInput {
  display: none;
}

.dropZone.dragging {
  opacity: 0.5;
}
.error {
  color: red;
}

#canvas {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--bg-secondary);
  border-radius: var(--radius);
  /* border: 1px solid red; */
}
#canvas p {
  /* display: none; */
  /* justify-content: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: -1; */
  /* border: 1px solid red; */
}
section.noCanvas {
  display: none;
}
section.canvasSection {
  width: 80%;
  height: 50vh;
  border: 1px solid var(--border);
  border-radius: var(--radius);

}
section.regularForm {
  width: 50vw;
  height: 50vh;
  justify-self: center;
}
form {
  height: 100%;
  width: 100%;
}
section.shrinkedForm {
  width: 80%;
  /* height: 200px; */
}
.newInputContainer {
  display: grid;
  /* outline: 1px solid red; */
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 3rem 3rem;
  row-gap: 0.5rem;
  column-gap: 1rem;
  margin: 1rem 0;
}
.newInputContainer > div {
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border: 1px solid var(--border);
  gap: 0.5rem;
}
.newInputContainer label {
  cursor: pointer;
}
.newInputContainer img {
  width: 24px;
  /* outline: 1px solid red; */

}
div.fileInputContainer {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  /* outline: 1px solid blue; */
  background-color: var(--text-primary);
  color: var(--bg-primary);
  justify-content: center;
  cursor: pointer;
}
div.folderInputContainer {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  cursor: pointer;
}
div.fileNameContainer {
  grid-row: 2 / 2;
  grid-column: 1 / span 2;
  /* outline: 1px solid orange; */
  justify-content: flex-start;
}
.fileNameContainer span {
  color: var(--text-secondary)
}

.status {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  padding-right: 1rem;  
}
.noUpload {
  width: 50vw;
}

.uploaded {
  width: 80%;
}

.circle {
  background-color: rgb(216, 3, 3);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  
  /* margin: auto 0.5rem; */
}

.circle.yellow {
  background-color: rgb(208, 208, 8);
}
.circle.green {
  background-color: var(--accent);
}

.regularFooter {
  /* padding: 2rem 0; */
  margin: 8rem 0 0;
  
}
.regularFooter * {
  /* place-self: center; */
}
.shrinkedFooter {
  margin: 0;
  /* padding: 2rem 0; */
}