.dropZone {
  height: 100%;
  width: 100%;
  border: 1px dashed grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* box-sizing: border-box;
  padding: 4rem; */
}
.dropZone.noDrag {
    border: 1px solid grey;
}
.dropZone > * {
  padding: 0.5rem;
}
.checkbox {
  display: flex;
  gap: 0.5rem;
}
.dropZone:hover {
  cursor: pointer;
}

.fileFolderInput {
  display: none;
}

.dropZone.dragging {
  opacity: 0.5;
}
.error {
  color: red;
}

#canvas {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */

}
section.noCanvas {
  display: none;
}
section.canvasSection {
  width: 100%;
  height: 50vh;
  /* border: 1px solid gray; */
}
section.regularForm {
  width: 50vw;
  height: 50vh;
  justify-self: center;
}
form {
  height: 100%;
  width: 100%;
}
section.shrinkedForm {
  width: 50vw;
  height: 200px;
}