:root {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;

  --bg-primary: #FAFAF9;
  --bg-secondary: #F0F0EE;
  --text-primary: #1C1C1A;
  --text-secondary: #8A8A85;
  --border: #D4D4D0;
  --accent: #3D7A5C;
  --radius: 16px;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

#root {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center;
  text-align: center; */
  /* height: 100vh; */
  /* outline: 1px solid red; */

}
body, * {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  /* outline: 1px solid orange; */
  padding: 2rem;

}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  /* height: 70vh; */
  /* outline: 1px solid blue; */
}
section {
  /* width: 100%;
  height: 100%; */
  /* display: flex;
  justify-content: center; */
}

